.jidelnicek{
    margin-top: 13%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.checkboxjidel{
    display: none;
}

img{
    width: 100%;
    height: 100%;
}

#cover{
    width: 50vh;
    height: 70vh;
    background-color: none;
}

.page-container{
    width: 50vh;
    height: 70vh;
    position: relative;
    perspective: 100vh;
}

.page{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: rotateY(0deg);
    transition: .5s;
    color: white;
}

.front, .back{
    color: black;
    position: absolute;
    width: 100%;
    height: 100%;
}

.front{
    box-sizing: border-box;
}

.back{
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.next-btn{
    position: absolute;
    bottom: 10px;
    left: 30px;
    cursor: pointer;
    font-weight: bold;
}

.back-btn{
    position: absolute;
    bottom: 10px;
    right: 30px;
    cursor: pointer;
    font-weight: bold;  
}

#p1{
    z-index: 7;
}

#p2{
    z-index: 6;
}

#p3{
    z-index: 5;
}

#p4{
    z-index: 4;
}

#p5{
    z-index: 3;
}

#p6{
    z-index: 2;
}
#p7{
    z-index: 1;
}

#c1:checked ~ .page-container #p1{
    transform: rotateY(-180deg);
    z-index: 1;
}

#c2:checked ~ .page-container #p2{
    transform: rotateY(-180deg);
    z-index: 2;
}

#c3:checked ~ .page-container #p3{
    transform: rotateY(-180deg);
    z-index: 3;
}

#c4:checked ~ .page-container #p4{
    transform: rotateY(-180deg);
    z-index: 4;
}

#c5:checked ~ .page-container #p5{
    transform: rotateY(-180deg);
    z-index: 5;
}

#c6:checked ~ .page-container #p6{
    transform: rotateY(-180deg);
    z-index: 6;
}
#c7:checked ~ .page-container #p7{
    transform: rotateY(-180deg);
    z-index: 7;
}